body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 900px;
    margin:auto;
    padding:20px;
    background-color: #bae0ee;
}
.about_me {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
    align-items: center;
  }
  
  .portfolio-pic {
    width: 900px;
    height: 400px;
    border-radius: 0%;
    border: 1px solid #0c0c0c;   
  }
  
  .resume {
    color: #090909;
    text-decoration: none;
  }

  .resume:hover {
    color: rgb(65, 65, 236);

  }

  .project_homepage {
    width: 600px;
    height: 300px;
    border-radius: 0%;
    border: 1px solid #090909;
  }
    
